<!DOCTYPE html>
   <head>
      <title>ADD NEW</title>
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/addcheckpoint.css') }}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
	  <form action="/">
		  <button class="button" type="submit"><span>Go HOME</span></button>
	  </form>
      <h2>Fill Details</h2>
      <div class="details">
      <form action="/addcheckpoint/check" method="post">
          Checkpoint ID: <div class="underline"><input type="text" name="NewCID" required></div>  <br />
          Lattitude: <div class="underline"><input type="number" step="0.000000000000001" name="NewLAT" required /></div>  <br />
          Longitude: <div class="underline"><input type="number" step="0.000000000000001" name="NewLONG" required /></div>  <br />
          <button class="button" type="submit"><span>SUBMIT</span></button>
      </form>
      </div>
      <p1 name = 'Error'>{{ ERROR }}</p1>
   </body>
</html>
