<!DOCTYPE html>
   <head>
      <title>Checkpoint</title>
      <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='CSS/index.css') }}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
      <form action="/addcheckpoint/null" method = "post">
          <button class="button" type="submit" formaction="/browse/null"><span>BROWSE</span></button><br />
          <button class="button" type="submit"><span>ADD CHECKPOINT</span></button>
      </form>
   </body>
</html>
