<!DOCTYPE html>
   <head>
      <title>Waste Segregator</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/startstyle.css') }}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
      <div class = "parent">
         <div class="container">
            <div class = "start">
               <form action="/start" method="post" class="startform">
                  <button type="submit" name = "Startbtn" class="Startbtn">START</button>
               </form>
            </div>
         </div>
      </div>
   </body>
</html>