<!DOCTYPE html>
<html>
<head>
  <title>Admin Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/login.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <img class="wave" src="/static/login_wave.png" alt="login_wave">
  <div class="container">
    <div class="img">
      <img src="/static/login_img.svg" alt ="login_img">
    </div>
    <div class="login-content">
      <form action="/adminlogin/check" method="post">
        <img src="/static/login_avatar.svg" alt = "login_avatar">
        <h2 class="title">WELCOME</h2>
              <div class="input-div one">
                 <div class="i">
                    <i class="fas fa-user"></i>
                 </div>
                 <div class="div">
                    <input type="text" class="input" name="adminID" value = "admin" readonly required>
                 </div>
              </div>
              <div class="input-div pass">
                 <div class="i"> 
                    <i class="fas fa-lock"></i>
                 </div>
                 <div class="div">
                    <h5>PIN</h5>
                    <input type="password" class="input" name="Pin" required>
                 </div>
              </div><br />
			  <p1>{{ LoginError }}</p1>
              <input type="submit" class="btn" value="LOGIN" name="form">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/static/studentlogin.js"></script>
</body>
</html>
